<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="vendor/autoload.php" colors="true">
        <testsuites>
            <testsuite name="integracao">
                <directory>tests/integracao/</directory>
            </testsuite>
            <testsuite name="unitarios">
                <directory>tests/unitarios</directory>
            </testsuite>
        </testsuites>
</phpunit>